body {
  margin: 0;
  padding: 0;
}
.p-w-parent {
  border: 2px solid transparent;
  width: 90%;
  height: 470px;
  margin: auto;
  display: flex;
  margin-top: 2vw;
}

.p-w-parent > div:nth-child(1) {
  border: 2px solid transparent;
  width: 35%;
  height: 100%;
  /* background-color: red; */
}
.p-w-parent > div:nth-child(2) {
  position: relative;
  border: 2px dotted transparent;
  width: 64%;
  height: 100%;
  /* background-color: blue; */
}
#purple-img {
  width: 100%;
  height: 100%;
}

.container {
  border: 2px solid transparent;
  width: 320px;
  height: auto;
  position: relative;
  margin-top: 5vh;
}
.card-img {
  width: 100%;
}
#c-number {
  position: absolute;
  bottom: 40px;
  color: white;
  left: 15px;
}
#right {
  color: white;
  position: absolute;
  bottom: 23px;
  right: 15px;
}
#left {
  color: white;
  position: absolute;
  bottom: 23px;
  left: 15px;
  font-family: 'Anek Gujarati', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
}
.num-span {
  letter-spacing: 2px;
}

#card-cvc {
  color: white;
  position: absolute;
  bottom: 78px;
  right: 40px;
}

#white-div > div:nth-child(1) {
  margin-left: -240px;
}
#white-div > div:nth-child(2) {
  margin-left: -178px;
}

/* ********************* Form BOX Start */

.Entry-container {
  border: 2px solid transparent;
  width: 35vw;
  height: 350px;
  position: absolute;
  right: 35px;
  bottom: 50px;
  display: grid;
  grid-template-rows: auto;
  grid-template-rows: 15% 2% 15% 2% 25% 10%;
  padding: 2px;
  gap: 2%;
}

.Entry-container > div {
  /* border: 1px solid red; */
  width: 90%;
  padding: 1px;
  height: auto;
}

label {
  display: block;
  padding-bottom: 5px;
}

#Date-Cvc-pr {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}
#Date-Cvc-pr > div {
  /* border: 1px solid black; */
  width: 130px;
  height: auto;
}
#Date-Cvc-pr > div:nth-child(1) input {
  border: 1px solid black;
  width: 30%;
  margin-left: 5px;
}

#Date-Cvc-pr > div:nth-child(2) input {
  border: 1px solid black;
  display: block;
  width: 65%;
}
input {
  padding: 5px;
}

#Name-input,
#Number-input {
  border: 1px solid black;
  width: 60%;
  margin-left: 5px;
}
#Date-Cvc-pr input {
  border: 1px solid black;
  margin-top: 4%;
  margin-bottom: 2%;
}

#confirm-button {
  background-color: black;
  width: 64%;
  padding: 7px;
  color: white;
  border-radius: 5px;
}
.input-indicator {
  font-family: 'Anek Gujarati', sans-serif;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.required {
  font-size: 9px;
  color: red;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  /* display: none; */
}

@media (max-width: 918px) {
  .p-w-parent {
    width: 100%;
  }
  .container {
    width: 280px;
  }

  #white-div > div:nth-child(1) {
    margin-left: -200px;
  }
  #white-div > div:nth-child(2) {
    margin-left: -138px;
  }
  #card-cvc {
    bottom: 47%;
  }
}

@media (max-width: 890px) {
  #confirm-button {
    margin-top: 5vh;
  }
  #Date-Cvc-pr > div:nth-child(2) {
    margin-top: 3vh;
  }
  #Name-input,
  #Number-input {
    width: 80%;
  }
}

@media (max-width: 668px) {
  .p-w-parent > div:nth-child(1) {
    width: 50%;
    height: 100%;
  }
  .p-w-parent > div:nth-child(2) {
    position: relative;
    width: 50%;
    height: 100%;
  }

  #white-div > div:nth-child(1) {
    margin-left: -296px;
  }
  #white-div > div:nth-child(2) {
    margin-left: -296px;
  }
  .Entry-container {
    width: 40vw;
  }
}

@media (max-width: 604px) {
  .p-w-parent > div:nth-child(1) {
    width: 100%;
    height: 49vh;
  }
  .p-w-parent > div:nth-child(2) {
    position: static;
    width: 100%;
    height: 51vh;
  }
  .p-w-parent > div:nth-child(2) {
    position: absolute;
    bottom: 0;
  }
  #white-div > div:nth-child(1) {
    margin-left: 0px;
  }
  #white-div > div:nth-child(2) {
    margin-left: 0px;
  }
  .Entry-container {
    height: 45vh;
    bottom: 0px;
    width: 82vw;
    padding: 5px;
  }
  .container {
    position: absolute;
    top: -330px;
    left: 2vw;
  }
  .c2 {
    position: relative;
    left: 2vw;
    top: -170px;
  }
  #purple-img {
    height: 104%;
  }
}
/*   #purple-img */
@media (max-width: 287px) {
  #purple-img {
    display: none;
  }
  body {
    background-color: rgb(82, 179, 100);
  }
  #confirm-button {
    margin-top: 40%;
  }
}
